[submodule "opt/modular-boost"]
	path = opt/modular-boost
	url = https://github.com/boostorg/boost.git
[submodule "opt/bamtools"]
	path = opt/bamtools
	url = https://github.com/pezmaster31/bamtools.git
[submodule "opt/seqan"]
	path = opt/seqan
	url = https://github.com/bayolau/seqan.git
	branch = bayolau
